.profile-head {
    background: #edf2ff;
    padding: 50px;
}
.profile-head-img {
    width: 100px;
    aspect-ratio: 1/1;
    /*border: 1px solid black;*/
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-radius: 100%;
    margin: auto;
}

.profile-head-title {
    width: fit-content;
    font-size: 25px;
    margin: auto;
    margin-top: 20px;
}

.profile-head-edit {
    font-size: 13px;
    color: #145392;
    text-decoration: underline;
    cursor: pointer;
}

.profile-head-edit:hover {
    color: dodgerblue;
}

.profile-head-data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 450px;
    margin: auto;
    margin-top: 20px;
}

.profile-head-data>div {
    text-align: center;
    background: #FFFFFF;
    /*border: 1px solid gray;*/
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
    color: #145392;
}

.profile-head-data>div>span {
    font-weight: bolder;
    margin-right: 5px;
}

.profile-edit-pic {
    width: 200px;
    aspect-ratio: 1/1;
    border: 1px solid lightgray;
    text-align: center;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
}

.profile-edit-pic>label {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    /*width: 100px;*/
    height: 50px;
    margin: auto;
    font-size: 10px;
    opacity: 0.8;
}

.profile-content {
}

.profile-content > .profile-content-ribon {
    background: white;
}

.profile-content > .profile-content-ribon > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    margin: auto;
}

.profile-content > .profile-content-ribon > div > div {
    background: white;
    font-size: 20px;
    text-align: center;
    padding: 2px 0px;
    border-bottom: 3px solid #437db0;
    margin: 0px 4px;
    color: #437db0;
    transition: 800ms;
    cursor: pointer;
}

.profile-content > .profile-content-ribon > div > div:hover {
    background: #437db0;
    color: white;
    transition: 800ms;
}

.profile-content > .profile-content-ribon > div > .content-ribon-select {
    background: #437db0;
    color: white;
}

.profile-content > .profile-content-grid {
    max-width: 800px;
    margin: 5px auto;
}

.profile-followers-ribon {
    min-width: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.profile-followers-ribon>div {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 8px;

    border-bottom: 3px solid #437db0;
    margin: 0px 4px;
    color: #437db0;
    transition: 800ms;
    cursor: pointer;
}

.profile-followers-ribon>div:hover {
    background: #437db0;
    color: white;
    transition: 800ms;
}

.profile-followers-ribon>.selected {
    background: #437db0;
    color: white;
}

.follow-btn>button {
    width: 100%;
    max-width: 450px;
    margin: auto;
    margin-top: 20px;

    display: flex;
    align-items: center;
}

.follow-btn>button>div {
    margin-left: 10px;
}

@media all and (max-width: 576px) {
    .profile-head-data {
        grid-template-columns: repeat(2, 1fr);
        width: fit-content;
    }
}